.timer-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    animation: timer 3s linear forwards;
}

@keyframes timer {
    0% { width: 100%; }
    100% { width: 0; }
}