/* src/components/MenuBook.css */
.menu-book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  button {
    margin: 10px;
  }
  
  .page-wrapper {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    position: relative;
  }
  
  .page-wrapper.next .page {
    animation: turnPageForward 0.6s forwards;
  }

  .page-wrapper.next-reverse .page {
    animation: turnPageBackward 0.6s reverse;
    position: absolute;
  }

    .page-wrapper.prev-reverse .page {
        animation: turnPageForward 0.6s reverse;
    position: absolute;

    }

  
  .page-wrapper.prev .page {
    animation: turnPageBackward 0.6s forwards;
  }
  
  @keyframes turnPageForward {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-180deg);
    }
  }
  
  @keyframes turnPageBackward {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  
  .page-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none;
    z-index: 1;
}