.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.51);
    /* color: white; */
    font-size: 16px;
    z-index: 5;
    background-color: #ffffff;
    
/*     
    
    @media (min-width: 640px) {
      padding: 16px 50px 30px 50px;
    } */
  }

  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #20495b82;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #ffffff;
  }
  .nav.is-hidden {
    transform: translateY(-100%);
  }
  a {
    color: inherit;
    text-decoration: none;
    &:after {
      content: "";
      display: block;
      margin: auto;
      margin-top: 3px;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
      }
  &:hover:after {
      width: 100%;
      background: #79f003;
      }
  }

  .list {
    list-style-type: none;
    margin-left: auto;
    display: none;

    @media (min-width: 640px) {
      display: flex;
    }

    li {
      margin-left: 20px;
    }
  }
  .search {
    display: inline-block;
    padding: 0;
    font-size: 0;
    background: none;
    border: none;
    margin-left: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    @media (min-width: 640px) {
      margin-left: 20px;
    }
    
    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: center/1.3rem 1.3rem no-repeat url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2015.17%2014.81%27%20width=%2715.17%27%20height=%2714.81%27%3E%3Cpath%20d=%27M6,.67A5.34,5.34,0,1,1,.67,6,5.33,5.33,0,0,1,6,.67ZM9.86,9.58l4.85,4.75Z%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-width=%271.33%27%2F%3E%3C%2Fsvg%3E");
    }
  }
  .menu {
    display: inline-block;
    padding: 0;
    font-size: 0;
    background: none;
    border: none;
    margin-left: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));

    @media (min-width: 640px) {
      display: none;
    }
  }

  .bar{
    transition: all 0.3s ease;
  }

  .container {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
 }
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .container {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
   }
 }
  @media screen and (max-width: 991px) {
    .container {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
   }
 }
  .gradient-cards {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 32px;
    padding: 30px;
    width: 100%;
 }
  @media screen and (max-width: 991px) {
    .gradient-cards {
      grid-template-columns: 1fr;
   }
 }
  .container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
 }
  .card {
    border: 0;
    width: 100%;
    margin-inline: auto;
 }
  .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
 }
  .container-card img {
    margin-bottom: 32px;
 }
  .bg-green-box, .bg-white-box, .bg-yellow-box, .bg-blue-box {
    position: relative;
 }
  .bg-green-box::after, .bg-white-box::after, .bg-yellow-box::after, .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
 }
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
 }
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
 }
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
 }
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
 }
  .card-title {
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
 }
  .card-description {
    font-weight: 600;
    line-height: 32px;
    font-size: 16px;
    max-width: 470px;
 }
  